body {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 170%;
}
td {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 170%
}
h3 {
    clear:  both;
}
li {
    margin-bottom:  5pt;
}
* {
    box-sizing: border-box;
}

a:link {
    color: #222222;
}
a:visited {
    color: #666666;
}
img {
    border-width: 0;
}

.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 10px;
}
.footer a:link, .footer a:visited {
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

blockquote {
    margin-left:  2em;
}

.pagetitle {
    margin-bottom:  30px;
}
.pagecontent600 {
    width:  600px;
    margin-top:  20px;
    margin-left:  auto;
    margin-right:  auto;
}
.pagecontent600 p {
    width:  500px;
}
.pagecontent600 ul {
    width:  500px;
}
.pagecontent800 {
    width:  800px;
    margin-top:  20px;
    margin-left:  auto;
    margin-right:  auto;
}
.pagecontent800 p {
    width:  700px;
}
.pagecontent800 ul {
    width:  700px;
}
.pagetitle {
    width:  600px;
    margin-left:  auto;
    margin-right:  auto;
    color:  #666666;
    font-size:  30px;
    font-weight:  bold;
    line-height:  160%
}
.heading {
    color:  #333333;
    font-size:  30px;
    font-weight:  bold;
    line-height:  160%;
}
.caption {
    color:  #333333;
    font-size:  16px;
    font-weight:  bold;
    line-height:  170%;
}
.lpictab {
    margin-right:  20pt;
    margin-top:  0pt;
}
.rpictab {
    margin-left:  10pt;
    margin-top:  0pt;
}
.rpic {
    float: right;
    margin-left: 1em;
    margin-bottom: 10px;
    clear: both;
}
.lpic {
    float: left;
    margin-right: 1em;
    clear: both;
}
.clearboth {
    clear: both;
}
.clearleft {
    clear: left;
}

/* See http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.fillContainer {
    height: 100%;
    width: 100%;
}


/* Whole page overlays */
#flashErrorMessage {
    position: fixed;
    z-index: 1200;
    top: 300px;
    height: 300px;
    width: 40%;
    background-color: #ffcccc;
    border-radius: 10px;
    border: 2px solid #885555;
}
.errorMessage {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 170%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    white-space: pre-wrap;
}
/* Whole page overlays */
#flashSuccessMessage {
    position: fixed;
    z-index: 1200;
    top: 300px;
    height: 300px;
    width: 40%;
    background-color: #ccffcc;
    border-radius: 10px;
    border: 2px solid #558855;
}
.successMessage {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 170%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    white-space: pre-wrap;
}

#popupEditUrl {
    position: fixed;
    top: 40px;
    left: 100px;
    width: 800px;
    padding: 10px;
    opacity: 0.95;
    z-index: 1100; /* high */
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #555555;
}

#popupEditBlock {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.20;
    z-index: 1099; /* high */
    background-color: #ffffff;
}



#contextMenu {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    display: block;
    position: absolute;
    z-index: 3001;
    background: #dddddd;
    border: 1px #888888;
}

#contextMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#contextMenu li {
    display: flex;
    justify-content: space-between;
    padding: 2px 6px;
}

#contextMenu li:hover {
    background: #6666ff;
    color: #ffffff;
}

#contextMenu li:hover a {
    color: #ffffff;
}

#contextMenu li:last-child {
    border-bottom: none;
}
